/* Filter Buttons */
.filter-buttons {
  margin-top: 16px;
  gap: 16px;
}

.filter-buttons button {
  background-color: #2d2d2d; /* Darker background */
  color: white;
  border-radius: 20px; /* More rounded corners */
  padding: 8px 16px;
}

.filter-buttons button:hover {
  background-color: #404040; /* Slightly lighter on hover */
}

/* Active Filter Button Styling */
.filter-buttons button.active {
  background-color: #00ffb3; /* Teal for active filter button */
}

/* Status Colors */
.status-delayed {
  color: #ff4c4c; /* Bright red for delayed flights */
}

/* Weather Widget Styling */
.weather-widget {
  position: relative;
  bottom: 20px;
  right: 20px;
  background-color: #2d2d2d;
  padding: 16px;
  border-radius: 12px; /* Rounded corners */
  margin-top: 50px;
  align-self: flex-end;
}

.weather-widget .time-display {
  font-size: 24px;
  font-weight: bold;
}

/* Weather Icon and Text Styling in Widget*/
.weather-widget .weather-info {
  display: flex;
  align-items: center;
}
.weather-widget .weather-info svg {
  margin-right: 10px;
}
